{% extends 'base.html' %}

{% block content %}
{% load static %}

<h3>Add a book to the library.</h3>

<form action="" method="POST">
    {% csrf_token %}
    <div class="form-floating m-5">
        <input type="text" name="title" class="form-control" id="title" placeholder="Title" required>
        <label for="title">Title</label>
    </div>
    <div class="form-floating m-5">
        <input type="text" name="author" class="form-control" id="author" placeholder="Author" required>
        <label for="author">Author</label>
    </div>
    <div class="form-floating m-5">
        <textarea name="description" id="description" class="form-control" cols="30" rows="10" placeholder="description" style="height: 180px"></textarea>
        <label for="description">Description</label>
    </div>
    <div class="form-floating m-5 col-4 col-md-4">
        <input type="date" name="publish_date" id="publish_date" class="form-control" required>
        <label for="publish_date">Date of Publication</label>
    </div>
    <div class="form-floating m-5">
        <input type="text" name="purchase-link" class="form-control" id="purchase-link" placeholder="Share a link for others to buy">
        <label for="purchase-link">Purchase Link (optional)</label>
    </div>
    <div class="form-floating m-5">
        <button type="submit" class="btn btn-warning">Add Book</button>
    </div>
</form>

{% endblock %}