<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cohort 13A Reviews</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link {% if page_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
              <a class="nav-link {% if page_name == 'books' %}active{% endif %}" href="{% url 'books' %}">Books</a>
              <a class="nav-link {% if page_name == 'register' %}active{% endif %}" href="#">Sign In</a>
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </div>
          </div>
        </div>
      </nav>
    {% block content %}

    {% endblock %}
</body>
</html>