{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load bootstrap4 %}
    <h3>Add a review for a book in the library.</h3> 
    <h4>Can't find the book you're looking for? <a href="{% url 'add_book' %}">Add it here.</a></h4>

    <ul>
    {% for book in books %}
        <li>
            <i><u>{{ book.title }}</u></i> by <strong>{{ book.author }}</strong>
            pub. {{ book.publish_date }} <br>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#book{{ book.id }}" aria-expanded="false" aria-controls="book{{ book.id }}">
                  Description
                </button>
              </p>
              <div class="collapse" id="book{{ book.id }}">
                <div class="card card-body">
                  {{ book.description }}
                </div>
              </div>
        </li>
    {% endfor %}
    </ul>
    
    
{% endblock %}